*{
  padding: 0;
  margin: 0;
  color: #ccc;
  text-shadow:2px 2px #666;
  font-family: 'Dense-Regular', cursive;
}

.polaroid.card-container{
  margin-top: 55px;
  // border: 1px solid black;
}

.bcg{
  height: 1000px;
  min-height: 1000px;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  background-size: cover;
  border: 1px solid black;

}

.header{
  background-color: #06172e;
  border-radius: 3px;
  border: 1px solid black;
  background: rgba(6, 23, 46, 0.7);
}

.large-6.columns.letter{
  margin-top: 25px;
}

.wrapper {
    width:960px;
    height:50px;
    margin:0 auto;
    position:relative;
}

  .row span{
    // color: white;
    font-family: 'Dense-Regular', cursive;
    font-size: 3em;
  }

.pic-border1{
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  transform: rotate(6deg);
}

.pic-border{
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin-right: 50px;
  max-width: 500px;
}

.word-wrapper{
  margin-top: 25%;
  text-align: center;
}

.back {
  background-color:#06172e;

}

  .back p{
    margin-top: 85px;
    text-align: center;
  }

.card-wrap{
  // display: none;
  border-radius: 3px;
  border-box: 1px solid black;
  margin-top: 2em;
  background-color: #06172e;
  min-width: 630px;
  padding: 10px 0 10px 0;
  height: 40%;
  background: rgba(6, 23, 46, 0.7);
}

// #slide1 img:first-child, #slide2 img:first-child {
// position:absolute;
// top: 70px;
// left: -150px;
// }

// #slide1 img:nth-child(2), #slide2 img:nth-child(2){
//     position:absolute;
//     top:30px;
//     left:100px;
// }
// #slide1 img:nth-child(3), #slide2 img:nth-child(3){
//     position:absolute;
//     top:60px;
//     left:30px;
// }
// #slide1 img:nth-child(4), #slide2 img:nth-child(4){
//     position:absolute;
//     top:200px;
//     left:110px;
// }
// #slide1 img:nth-child(5), #slide2 img:nth-child(5){
//     position:absolute;
//     top:300px;
//     right:700px;
// }
// #slide1 img:nth-child(6), #slide2 img:nth-child(6){
//     position:absolute;
//     top:100px;
//     right:300px;
// }
// #slide1 img:nth-child(7), #slide2 img:nth-child(7){
//     position:absolute;
//     top:35px;
//     right:100px;
// }
// #slide1 img:nth-child(8), #slide2 img:nth-child(8){
//     position:absolute;
//     top:100px;
//     right:300px;
// }


// .polaroid img{
//   background: white;
//   display: inline;
//   float: left;
//   padding: 10px 10px 25px;
//   text-align: center;
//   text-decoration: none;
//   box-shadow: 3px 3px 6px #999;
//   // -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
//   // -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
//   // box-shadow: 0 4px 6px rgba(0,0,0,.3);
//   -webkit-transition: all .15s linear;
//   -moz-transition: all .15s linear;
//   transition: all .15s linear;
//   z-index:0;
//   position:relative;
//   cursor: pointer;
// }

.card .front {
  z-index: 1;
}

  .front{
    position: relative;
    text-align: center;
  }

  .front .tag {
    position: absolute;
    left: 2px;
    bottom: 10px;
    background-color: #666;
    padding: 10px 20px 10px 20px;
    -moz-opacity: 0.70;
    opacity: 0.70;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    font-size: 30px;
  }

  .front img{
    height: 100%;
    border-radius: 6px;
    border: 1px solid black;
    width: 270px;
  }

.card .back{
  box-shadow: 1px 1px 6px #999;
  border-radius: 6px;
  border: 1px solid black;
  width: 270px;
}

.back p{
  font-size: 4em;
  margin-top: 20px;
}

.letter{
  width: 70%;
}

  .letter span{
    font-size: 88px;
  }

  #a article {
    height: 458px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
  }

  #b article{
    height: 458px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 100%;
  }

  #c article span{
    font-family: 'Dense-Regular', cursive;
    font-size: 5em;
    margin-left: -55px;
  }

  #d .row span{
    font-family: 'Dense-Regular', cursive;

  }

#a{
   background: url('../images/a/a_is_for_austin.jpeg') 50% 0 no-repeat fixed;
   background-size: cover;
}

#b{
  background: url("../images/b/b_is_for_barton.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}

#c{
  background: url('../images/c/c_is_for_capitol.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}
// //need to fix alignment
// #letter-c img span{
//   margin-left: -40px;
// }

#d{
  background: url("../images/d/Deep_eddy.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}

#f{
  background: url('../images/f/f_for_fiesta.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#e{
  background: url("../images/e/e_is_for_energy.jpg") 50% 0 no-repeat fixed;
  background-size: cover;
}
//need to change image
#i{
  background: url('../images/i/i_is_for_imaginarium.jpg') 50% 0 no-repeat fixed;;
  background-size: cover;
}

#j{
  background: url('../images/j/j_is_for_juiceland.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#g{
  background: url('../images/g/graffiti.jpeg') 50% 0 no-repeat fixed;
  height: 1000px;
  min-height: 1000px;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  background-size: cover;
}

#g .row span{
  color: #9fc438;
}

#h{
  background: url('../images/h/h_is_for_house_park.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#k{
  background: url('../images/k/k_is_for_kite_festival.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#l{
  background: url('../images/l/l_is_for_ladybird_lake.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#m{
  background: url('../images/m/m_is_for_mount_bonnell.jpeg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#n{
  background: url('../images/n/n_is_for_nature.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#o{

  background: url('../images/o/o_is_for_observatory.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#p{
  background: url('../images/p/p_is_for_paramount.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#q{
  background: url('../images/q/q_is_for_quacks.jpeg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#r{
  background: url('../images/r/red_bud_isle.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#s{
  background: url('../images/s/symphony.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#t{
  background: url('../images/t/t_is_for_tower.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#u{
  background: url('../images/u/university.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#v{
  background: url('../images/v/veloway.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#w{
  background: url('../images/w/waller_creek.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#x{
  background: url('../images/x/x_games.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#y{
  background: url('../images/y/y.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

#z{
  background: url('../images/z/zilker.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
}

.languages span{
  cursor: pointer;
  color: white;
}

.languages{
  text-align: center;
}


