html, body{
  width: 100%;
  height: 100%;

}

.letter {
  width: 26.3%;
  font-size: 30em;
  color: #800000;
  float: left;
  height: 1000px;
  min-height: 1000px;
  top: 0;
  left: 0;
  margin: 0 auto;
  max-width: 1920px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.word{
  float: left;
  margin-top: 1em;
  font-size: 10em;
}


